<!-- Header -->
<h1 class="w3-jumbo"><%= i18n('Interactive') %> quiz</h1>

<div class="row" style="margin-top:25px">
  <div class="col-md-6">
    <div class="w3-container w3-dark-grey w3-xlarge play-home" onclick="location.href='/quiz'">
      <div class="w3-xxxlarge"><%= i18n('PlayQuiz') %></div>
      <hr id="play" style="width:50px;border:5px solid white" class="w3-round">
    </div>
  </div>

  <!-- Services -->
  <div class="col-md-6">
    <div class="w3-container w3-red  w3-xlarge" id="services" onclick="location.href='/parameters'" style="cursor:pointer;text-align:center">
      <div class="w3-xxxlarge"><%= i18n('Parameters') %></div>
      <hr style="width:50px;border:5px solid white" class="w3-round">
    </div>
  </div>
</div>

<!-- Designers
<div class="w3-container" id="designers" style="margin-top:25px">
  <h1 class="w3-xxxlarge w3-text-red">Parameters.</h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <p>Our designers are thoughtfully chosen:</p>
</div>

<!-- The Team
<div class="w3-row-padding w3-grayscale">
  <div class="w3-col m4 w3-margin-bottom">
    <div class="w3-light-grey">
      <div class="w3-container">
        <h3>John Doe</h3>
        <p class="w3-opacity">CEO & Founder</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      </div>
    </div>
  </div>
  <div class="w3-col m4 w3-margin-bottom">
    <div class="w3-light-grey">
      <div class="w3-container">
        <h3>Jane Doe</h3>
        <p class="w3-opacity">Designer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      </div>
    </div>
  </div>
  <div class="w3-col m4 w3-margin-bottom">
    <div class="w3-light-grey">
      <div class="w3-container">
        <h3>Mike Ross</h3>
        <p class="w3-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      </div>
    </div>
  </div>
</div>-->

<div class="w3-container" id="services" style="margin-top:25px">
  <div class="w3-xxxlarge">Challenges</div>
  <hr style="width:50px;border:5px solid" class="w3-round">
</div>

<!-- Packages / Pricing Tables -->

<div class="w3-row-padding">
  <div class="w3-half w3-margin-bottom">
    <ul class="w3-ul w3-light-grey w3-center">
      <li class="w3-dark-grey w3-xlarge w3-padding-32">Allan</li>
      <li class="w3-padding-16">
        <h2>Color Blindness</h2>
        <span class="w3-opacity">The user may select the theme he is more confortable with (Red-Green (Deuteranopia)  & Blue-Yellow (Tritanopia ))</span>
      </li>
      <li class="w3-padding-16">
        <h2>Audio questions</h2>
        <span class="w3-opacity">The application tell (speak) the questions to the user and explain how to answer using the Kinect movement</span>
      </li>
      <li class="w3-padding-16">
        <h2>Languages</h2>
        <span class="w3-opacity">
                      The app automaticaly recognize the language.
                    </span>
      </li>
      <li class="w3-padding-16">
        <h2>Keyboard control</h2>
        <span class="w3-opacity">
                      The user can uses his keyboard to answer the questions.<br>
                      (Top, Right, Bottom, Left)
                    </span>
      </li>
      <li class="w3-padding-16">
        <h2>Size text</h2>
        <span class="w3-opacity">
                      The user may select the size of the text.
                    </span>
      </li>
      <li class="w3-padding-16">
        <h2>Show question and answers</h2>
          <span class="w3-opacity">
            In a first time, just display the question for about 10 seconds.<br>
            Then, display the 4 answers and focus the eyes on them.<br>
            Instead of display question and answers in the same time.<br>
            This will help the user to not be lost because of too many information coming too fast.
          </span>
      </li>
      <li class="w3-padding-16">
        <h2>Basic Website Design Guidelines: UX tips</h2>
          <span class="w3-opacity">
            <ul>
              <li>Colors: no more than 5 different.</li>
              <li>Typefaces: no more than 3 different.</li>
              <li>Add graphics if it help the user to complete a task.</li>
              <li>Most visitors scan websites from left to right.</li>
              <li>Lead visitor to complete a desired action (click on a specific button)</li>
              <li>Having good naviguation: use breadcrumbs, include search box.</li>
              <li>Responsive Website</li>
              <li>Conventionality: navigation at top or left side, logo at top left, logo clickable, link change color when hovered</li>
            </ul>

          </span>
      </li>
      <li class="w3-light-grey w3-padding-24">
        <!--<button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>-->
      </li>
    </ul>
  </div>

  <div class="w3-half">
    <ul class="w3-ul w3-light-grey w3-center">
      <li class="w3-red w3-xlarge w3-padding-32">Julien</li>
      <li class="w3-padding-16">
        <h2>Kinect movement</h2>
        <span class="w3-opacity">The system allow the user to answer the quiz by gesture using Kinect</span>
      </li>
      <li class="w3-light-grey w3-padding-24">
        <!--<button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>-->
      </li>
    </ul>
  </div>
</div>

<!-- Contact -->
<div class="w3-container" id="contact" style="margin-top:75px">
  <h1 class="w3-xxxlarge">Contact.</h1>
  <hr style="width:50px;border:5px solid" class="w3-round">
  <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
  <form action="/action_page.php" target="_blank">
    <div class="w3-section">
      <label for="name">Name</label>
      <input id="name" class="w3-input w3-border" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label for="email">Email</label>
      <input id="email" class="w3-input w3-border" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label for="message">Message</label>
      <input id="message" class="w3-input w3-border" type="text" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
  </form>
</div>

<script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
<script type="text/javascript">
      setInterval(animateButton, 5000);

      function animateButton(){

        $(".play-home").animate({boxShadow : 'rgb(187, 185, 185) 0px 0px 10px 6px'}, 200);
        $(".play-home").animate({boxShadow : 'rgb(187, 185, 185) 0px 0px 10px 2px'}, 200);

      }
      $(".play-home").hover(
        function() {
          $( ".play-home" ).css({boxShadow : 'rgb(187, 185, 185) 0px 0px 2px 2px'});
        }, function() {
          $( ".play-home" ).css({boxShadow : 'rgb(187, 185, 185) 0px 0px 10px 2px'});
        }
      );
</script>
