

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Interactive quiz</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>Start Quiz.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>


    <!-- Services -->
    <div class="w3-container" id="services" style="margin-top:25px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Connect.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    <!-- Designers -->
    <div class="w3-container" id="designers" style="margin-top:25px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Parameters.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p><b>Our designers are thoughtfully chosen</b>:</p>
    </div>

    <!-- The Team -->
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>John Doe</h3>
                    <p class="w3-opacity">CEO & Founder</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Jane Doe</h3>
                    <p class="w3-opacity">Designer</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Mike Ross</h3>
                    <p class="w3-opacity">Architect</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Packages / Pricing Tables -->
    <div class="w3-container" id="packages" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Challenges</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-light-grey w3-center">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">Allan</li>
                <li class="w3-padding-16">
                    <h2>Color Blindness</h2>
                    <span class="w3-opacity">The user may select the theme he is more confortable with (Red-Green & Blue-Yellow)</span>
                </li>
                <li class="w3-padding-16">
                    <h2>Audio questions</h2>
                    <span class="w3-opacity">The application tell (speak) the questions to the user and explain how to answer using the Kinect movement</span>
                </li>
                <li class="w3-padding-16">
                    <h2>Language</h2>
                    <span class="w3-opacity">
                      The app automaticaly recognize the language.
                    </span>
                </li>
                <li class="w3-padding-16">
                    <h2>Test</h2>
                    <span class="w3-opacity">
                      testerggreg
                    </span>
                </li>
                <li class="w3-padding-16">
                    <h2>Size text</h2>
                    <span class="w3-opacity">
                      The user may select the size of the text.
                    </span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <!--<button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>-->
                </li>
            </ul>
        </div>

        <div class="w3-half">
            <ul class="w3-ul w3-light-grey w3-center">
                <li class="w3-red w3-xlarge w3-padding-32">Julien</li>
                <li class="w3-padding-16">
                    <h2>Kinect movement</h2>
                    <span class="w3-opacity">The system allow the user to answer the quiz by gesture using Kinect</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <!--<button class="w3-button w3-red w3-padding-large w3-hover-black">Sign Up</button>-->
                </li>
            </ul>
        </div>
    </div>

    <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
        <form action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border" type="text" name="Name" required>
            </div>
            <div class="w3-section">
                <label>Email</label>
                <input class="w3-input w3-border" type="text" name="Email" required>
            </div>
            <div class="w3-section">
                <label>Message</label>
                <input class="w3-input w3-border" type="text" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
        </form>
    </div>
